@import "variables";
@import "mixins";
@import "header";
@import "footer";

@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0 !important;
}

main {
  min-height: 60vh;
  margin-top: 50px;

  @include desktop {
    margin-top: 0;
  }
}
