nav {
  padding-right: 12px !important;
  height: 50px;
  display: flex !important;
  padding-left: 12px !important;
  align-items: center;
  position: fixed !important;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    #000 12.52%,
    #1e1107 31.47%,
    #44220e 49.75%,
    #99521c 63.8%,
    #c27933 83.5%,
    #ae7a4c 99%
  );

  @include desktop {
    padding-right: 27px !important;
    height: auto;
    padding-left: 0 !important;
    position: relative !important;
    top: 0;
    left: 0;
    right: 0;
  }
}

.lista-pepitas {
  flex: 1;
  display: none;
  list-style: none;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0 !important;

  @include desktop {
    display: flex;
  }

  li {
    position: relative;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;

      p {
        color: white;
        font-weight: 500;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        text-align: center;
        transition: opacity 0.3s ease;
        height: fit-content;
      }

      img {
        transition: transform 0.3s ease;
        display: block;
      }

      &:hover {
        img {
          transform: scale(1.2) rotate(30deg);
        }

        p {
          opacity: 1;
        }
      }
    }
  }
}

.pepita-vacia {
  height: 57px;
  width: 51px;
}
.logo-nav {
  width: 34px;
  height: 40px;
  transition: transform 0.3s ease;

  @include desktop {
    width: 80px;
    height: 80px;
    margin: 3px 0 4px 50px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.navbar-collapse {
  width: 100vw;
  padding: 16px;
  background: linear-gradient(
    90deg,
    #000 12.52%,
    #1e1107 31.47%,
    #44220e 49.75%,
    #99521c 63.8%,
    #c27933 83.5%,
    #ae7a4c 99%
  );
}

.nav-item {
  border-radius: 12px;
  border: 1px solid #d2d2d2;
  background: linear-gradient(
    91deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(153, 153, 153, 0.3) 100%
  );
  backdrop-filter: blur(0px);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@include desktop {
  .navbar-toggler {
    display: none;
  }
}
