@import "base";

.conocer-hero {
  @include fondo-gradiente-hero;
  padding: 2px 0 34px 0;
}

.contenedor-hero {
  background: url("../../imagenes/conoce_hero.png") no-repeat center center;
  margin: 0 auto;
  max-width: 943px;
  height: 442px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.texto-hero {
  background: linear-gradient(90deg, #fff -46.52%, #dbdbdb 25.98%, #999 53.48%);
  border-radius: 50px;
  padding: 8px 16px;
  margin: 0 auto;

  @include desktop {
    margin: 0;
    padding: 8px 64px;
    margin-right: 47px;
  }

  h1 {
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 14%;
    font-family: "Battambang", system-ui;
    font-weight: 400;
    color: $color-texto-hero;
  }
}

.conocer-contenido {
  display: flex;
  flex-direction: column;
  background: url("../../imagenes/conoce_fondo.png") no-repeat;
  background-size: cover;
  padding-bottom: 256px;

  @include desktop {
    padding: 38px 140px 266px 140px;
  }
}

.conocer-articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  gap: 36px;

  @include tablet {
    padding: 0 40px;
  }

  @include desktop {
    padding: 0;
  }
}

.conocer-contenedor-titulo {
  background-color: $color-fondo-titulo;
  max-width: 563px;
  padding: 16px;
  @include flex-center;
  border-radius: 24px;

  @include tablet {
    border-radius: 40px;
    width: 100%;
    height: 108px;
  }

  h2 {
    background: $color-titulo-gradiente;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 32px;
    font-family: "Battambang", system-ui;

    @include tablet {
      font-size: 40px;
    }

    @include desktop {
      font-size: 60px;
    }
  }
}

.contenedor-conocer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1176px;
  width: 100%;
  gap: 32px;

  @include tablet {
    flex-direction: row;
  }
}

.conocer-tarjeta {
  width: 100%;
  border-radius: 30px;
  box-shadow: 6px -13px 9px 13px rgba(0, 0, 0, 0.28);
  transition: all 0.2s;

  &:hover {
    background-color: rgb(214, 187, 135);
  }

  @include desktop {
    width: 487px;
  }

  img {
    width: 100%;
  }

  p {
    font-family: "Catamaran", sans-serif;
    color: $color-tarjeta-texto;
    font-weight: semibold;
    font-size: 13px;
    line-height: 188%;
    letter-spacing: 37%;
    text-align: center;
    margin: 14px;

    @include tablet {
      font-size: 16px;
    }
  }
}
