@import "base";

@mixin hero-size($height) {
  height: $height;
  background: url("../../imagenes/degustar_hero.png") no-repeat center center;
  background-size: cover;
}

@mixin border-radius-hero {
  border-radius: 50% / 50%;
}

main {
  background: $color-gradiente-main;

  @include tablet {
    padding-bottom: 200px;
  }

  @include desktop {
    padding-bottom: 0;
  }
}

.seccion-hero {
  @include hero-size(200px);
  @include flex-center;
  align-items: flex-end;
  padding-bottom: 32px;

  @include tablet {
    @include hero-size(500px);
    padding: 0 24px;
  }

  @include desktop {
    @include hero-size(800px);
  }
}

.cajita-contenedora {
  border-radius: 40px;
  background: $color-transparente-bg;
  padding: 16px;

  @include tablet {
    padding: 32px;
  }

  @include desktop {
    margin-right: 91px;
    max-width: 1181px;
    padding: 80px 32px;
  }

  p {
    font-family: "Battambang", sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    line-height: 180.23%; // 68.488px
    letter-spacing: 4.94px;
    background: $color-texto-gradiente;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablet {
      font-size: 20px;
      line-height: 160%;
    }

    @include desktop {
      font-size: 38px;
      text-align: left;
    }
  }
}

.degustar-oler {
  padding: 41px 8px 300px 8px;
  display: flex;
  flex-direction: column;
  gap: 90px;

  @include tablet {
    padding: 32px 24px;
  }

  @include desktop {
    padding: 41px 21px 300px 21px;
  }

  article {
    @include flex-center;
    flex-direction: column;
    gap: 16px;

    @include desktop {
      flex-direction: row;
      gap: 41px;
    }

    img {
      width: 60%;
      @include border-radius-hero;

      @include tablet {
        width: 40%;
      }

      @include desktop {
        width: auto;
      }
    }
  }
}

.cajita-transparente {
  border-radius: 40px;
  background: $color-transparente-bg;
  margin-top: -16px;
  padding: 16px;
  flex: 1;

  @include tablet {
    padding: 32px;
  }

  @include desktop {
    padding: 40px;
    width: 800px;
    margin-top: 0;
  }

  p {
    color: #fff;
    text-align: start;
    font-family: "Battambang", sans-serif;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -5%;

    @include tablet {
      font-size: 18px;
      line-height: 160%;
    }

    @include desktop {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      line-height: 181.342%; // 54.402px
      letter-spacing: 7.5px;
    }
  }
}

@include desktop {
  .alreves {
    flex-direction: row-reverse !important;
  }
}
