@import "base";

.disfrutar-hero {
  background: url("../../imagenes/disfrutar_hero.png") no-repeat center center;
  background-size: cover;
  @include flex-center;

  @include desktop {
    height: 641px;
  }

  h1 {
    background: $color-text-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-weight: bold;
    font-family: $font-battambang;
    padding: 12px;
    margin-top: 40px;

    @include desktop {
      margin-top: 0;
      padding: 0;
      font-size: 60px;
    }
  }

  p {
    font-family: $font-battambang;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -3%;
    text-align: center;
    padding: 24px 0;

    @include desktop {
      padding: 0;
      font-size: 32px;
      line-height: 242%;
    }
  }
}

.contenedor-hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    width: 792px;
    margin-left: 20%;
  }
}

.disfrutar-contenido {
  background: url("../../imagenes/disfrutar_fondo.png") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 300px;
}

.disfrutar-carta {
  background: url("../../imagenes/sobre_carta.png") no-repeat center center;
  max-width: 1268px;
  margin-top: 16px;
  border-radius: 16px;
  box-shadow: -4px 4px 20px 12px rgb(0 0 0 / 18%);

  .disfrutar-contenido-carta {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;

    p {
      font-family: $font-courgette;
      font-size: 16px;
      letter-spacing: -7%;

      @include desktop {
        font-size: 40px;
        line-height: 136%;
      }
    }
  }
}

.disfrutar-fotos {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
  gap: 20vw;

  @include tablet {
    margin-top: 72px;
  }
  @include desktop {
    gap: 0px;
  }
}

.disfrutar-fila-foto {
  display: flex;
  gap: 20vw;

  @include desktop {
    gap: 160px;
  }
}

.alternar-fila {
  @include desktop {
    margin-top: -60px;
    margin-left: 230px;
  }
}

.disfrutar-contenedor-foto {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  @include flex-center;
  transform: rotate(45deg);
  position: relative;
  border-radius: 20px;
  box-shadow: $box-shadow-card;

  @include desktop {
    border-radius: 40px;
    width: 300px;
    height: 300px;
  }

  .disfrutar-foto {
    width: 142%;
    height: 142%;
    object-fit: cover;
    transform: rotate(-45deg);
    position: absolute;
  }
}
