@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
nav {
  padding-right: 12px !important;
  height: 50px;
  display: flex !important;
  padding-left: 12px !important;
  align-items: center;
  position: fixed !important;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #000 12.52%, #1e1107 31.47%, #44220e 49.75%, #99521c 63.8%, #c27933 83.5%, #ae7a4c 99%);
}
@media screen and (min-width: 1440px) {
  nav {
    padding-right: 27px !important;
    height: auto;
    padding-left: 0 !important;
    position: relative !important;
    top: 0;
    left: 0;
    right: 0;
  }
}

.lista-pepitas {
  flex: 1;
  display: none;
  list-style: none;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0 !important;
}
@media screen and (min-width: 1440px) {
  .lista-pepitas {
    display: flex;
  }
}
.lista-pepitas li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.lista-pepitas li a p {
  color: #4b2406;
  font-weight: 500;
}

.pepita-vacia {
  height: 57px;
  width: 51px;
}

.logo-nav {
  width: 34px;
  height: 40px;
}
@media screen and (min-width: 1440px) {
  .logo-nav {
    width: auto;
    height: auto;
    margin: 3px 0 4px 50px;
  }
}

.navbar-collapse {
  width: 100vw;
  padding: 16px;
  background: linear-gradient(90deg, #000 12.52%, #1e1107 31.47%, #44220e 49.75%, #99521c 63.8%, #c27933 83.5%, #ae7a4c 99%);
}

.nav-item {
  border-radius: 12px;
  border: 1px solid #d2d2d2;
  background: linear-gradient(91deg, rgba(255, 255, 255, 0.3) 0%, rgba(153, 153, 153, 0.3) 100%);
  backdrop-filter: blur(0px);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1440px) {
  .navbar-toggler {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #1a0f06 5.5%, #3b1e0c 48%, #211207 88%);
}

.poema-footer {
  color: #e2b595;
  text-align: center;
  font-family: Baskervville;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 236%; /* 63.72px */
  letter-spacing: 6.21px;
}
@media screen and (min-width: 1440px) {
  .poema-footer {
    font-size: 27px;
    width: 870px;
  }
}

.footer-ovalo {
  overflow: hidden;
  border-radius: 50%/50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -190px;
  border: 1px solid #000;
  background: linear-gradient(180deg, rgba(226, 181, 149, 0.78) 0%, #000 12%, #000 87%, rgba(202, 162, 133, 0.78) 100%);
  flex-shrink: 0;
}
@media screen and (min-width: 1440px) {
  .footer-ovalo {
    width: 673px;
    height: 380px;
  }
}

.lista-redes {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 56px;
  padding-bottom: 24px;
  width: 100%;
}

.link-instagram {
  height: 26px;
  width: 36px;
}
@media screen and (min-width: 1440px) {
  .link-instagram {
    height: 62px;
    width: 68px;
  }
}

.link-youtube {
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 1440px) {
  .link-youtube {
    height: 47px;
    width: 81px;
  }
}

.link-correo {
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 1440px) {
  .link-correo {
    height: 70px;
    width: 89px;
  }
}

* {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0 !important;
}

main {
  min-height: 60vh;
  margin-top: 50px;
}
@media screen and (min-width: 1440px) {
  main {
    margin-top: 0;
  }
}

.conocer-hero {
  background: linear-gradient(181deg, #131210 0.82%, #171312 41.15%, #2c1e15 60.82%, #1a1613 86.39%);
  padding: 2px 0 34px 0;
}

.contenedor-hero {
  background: url("../../imagenes/conoce_hero.png") no-repeat center center;
  margin: 0 auto;
  max-width: 943px;
  height: 442px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.texto-hero {
  background: linear-gradient(90deg, #fff -46.52%, #dbdbdb 25.98%, #999 53.48%);
  border-radius: 50px;
  padding: 8px 16px;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .texto-hero {
    margin: 0;
    padding: 8px 64px;
    margin-right: 47px;
  }
}
.texto-hero h1 {
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 14%;
  font-family: "Battambang", system-ui;
  font-weight: 400;
  color: #444;
}

.conocer-contenido {
  display: flex;
  flex-direction: column;
  background: url("../../imagenes/conoce_fondo.png") no-repeat;
  background-size: cover;
  padding-bottom: 256px;
}
@media screen and (min-width: 1440px) {
  .conocer-contenido {
    padding: 38px 140px 266px 140px;
  }
}

.conocer-articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  gap: 36px;
}
@media screen and (min-width: 425px) {
  .conocer-articulo {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1440px) {
  .conocer-articulo {
    padding: 0;
  }
}

.conocer-contenedor-titulo {
  background-color: rgba(217, 217, 217, 0.3098039216);
  max-width: 563px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
@media screen and (min-width: 425px) {
  .conocer-contenedor-titulo {
    border-radius: 40px;
    width: 100%;
    height: 108px;
  }
}
.conocer-contenedor-titulo h2 {
  background: conic-gradient(from 90deg at 5.52% 50.45%, rgba(0, 0, 0, 0.71) 0deg, #e2b595 360deg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 32px;
  font-family: "Battambang", system-ui;
}
@media screen and (min-width: 425px) {
  .conocer-contenedor-titulo h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .conocer-contenedor-titulo h2 {
    font-size: 60px;
  }
}

.contenedor-conocer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1176px;
  width: 100%;
  gap: 32px;
}
@media screen and (min-width: 425px) {
  .contenedor-conocer {
    flex-direction: row;
  }
}

.conocer-tarjeta {
  width: 100%;
  border-radius: 30px;
  box-shadow: 6px -13px 9px 13px rgba(0, 0, 0, 0.28);
}
@media screen and (min-width: 1440px) {
  .conocer-tarjeta {
    width: 487px;
  }
}
.conocer-tarjeta img {
  width: 100%;
}
.conocer-tarjeta p {
  font-family: "Catamaran", sans-serif;
  color: black;
  font-weight: semibold;
  font-size: 13px;
  line-height: 188%;
  letter-spacing: 37%;
  text-align: center;
  margin: 14px;
}
@media screen and (min-width: 425px) {
  .conocer-tarjeta p {
    font-size: 16px;
  }
}
