@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
nav {
  padding-right: 12px !important;
  height: 50px;
  display: flex !important;
  padding-left: 12px !important;
  align-items: center;
  position: fixed !important;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #000 12.52%, #1e1107 31.47%, #44220e 49.75%, #99521c 63.8%, #c27933 83.5%, #ae7a4c 99%);
}
@media screen and (min-width: 1440px) {
  nav {
    padding-right: 27px !important;
    height: auto;
    padding-left: 0 !important;
    position: relative !important;
    top: 0;
    left: 0;
    right: 0;
  }
}

.lista-pepitas {
  flex: 1;
  display: none;
  list-style: none;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0 !important;
}
@media screen and (min-width: 1440px) {
  .lista-pepitas {
    display: flex;
  }
}
.lista-pepitas li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.lista-pepitas li a p {
  color: #4b2406;
  font-weight: 500;
}

.pepita-vacia {
  height: 57px;
  width: 51px;
}

.logo-nav {
  width: 34px;
  height: 40px;
}
@media screen and (min-width: 1440px) {
  .logo-nav {
    width: auto;
    height: auto;
    margin: 3px 0 4px 50px;
  }
}

.navbar-collapse {
  width: 100vw;
  padding: 16px;
  background: linear-gradient(90deg, #000 12.52%, #1e1107 31.47%, #44220e 49.75%, #99521c 63.8%, #c27933 83.5%, #ae7a4c 99%);
}

.nav-item {
  border-radius: 12px;
  border: 1px solid #d2d2d2;
  background: linear-gradient(91deg, rgba(255, 255, 255, 0.3) 0%, rgba(153, 153, 153, 0.3) 100%);
  backdrop-filter: blur(0px);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1440px) {
  .navbar-toggler {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #1a0f06 5.5%, #3b1e0c 48%, #211207 88%);
}

.poema-footer {
  color: #e2b595;
  text-align: center;
  font-family: Baskervville;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 236%; /* 63.72px */
  letter-spacing: 6.21px;
}
@media screen and (min-width: 1440px) {
  .poema-footer {
    font-size: 27px;
    width: 870px;
  }
}

.footer-ovalo {
  overflow: hidden;
  border-radius: 50%/50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -190px;
  border: 1px solid #000;
  background: linear-gradient(180deg, rgba(226, 181, 149, 0.78) 0%, #000 12%, #000 87%, rgba(202, 162, 133, 0.78) 100%);
  flex-shrink: 0;
}
@media screen and (min-width: 1440px) {
  .footer-ovalo {
    width: 673px;
    height: 380px;
  }
}

.lista-redes {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 56px;
  padding-bottom: 24px;
  width: 100%;
}

.link-instagram {
  height: 26px;
  width: 36px;
}
@media screen and (min-width: 1440px) {
  .link-instagram {
    height: 62px;
    width: 68px;
  }
}

.link-youtube {
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 1440px) {
  .link-youtube {
    height: 47px;
    width: 81px;
  }
}

.link-correo {
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 1440px) {
  .link-correo {
    height: 70px;
    width: 89px;
  }
}

* {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0 !important;
}

main {
  min-height: 60vh;
  margin-top: 50px;
}
@media screen and (min-width: 1440px) {
  main {
    margin-top: 0;
  }
}

main {
  background: linear-gradient(180deg, #000 44%, #3b1e0c 63.5%, #9a531d 84%, #bd7430 99%);
}
@media screen and (min-width: 768px) {
  main {
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1440px) {
  main {
    padding-bottom: 0;
  }
}

.seccion-hero {
  height: 200px;
  background: url("../../imagenes/degustar_hero.png") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .seccion-hero {
    height: 500px;
    background: url("../../imagenes/degustar_hero.png") no-repeat center center;
    background-size: cover;
    padding: 0 24px;
  }
}
@media screen and (min-width: 1440px) {
  .seccion-hero {
    height: 800px;
    background: url("../../imagenes/degustar_hero.png") no-repeat center center;
    background-size: cover;
  }
}

.cajita-contenedora {
  border-radius: 40px;
  background: rgba(217, 217, 217, 0.14);
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .cajita-contenedora {
    padding: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .cajita-contenedora {
    margin-right: 91px;
    max-width: 1181px;
    padding: 80px 32px;
  }
}
.cajita-contenedora p {
  font-family: "Battambang", sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  line-height: 180.23%;
  letter-spacing: 4.94px;
  background: linear-gradient(90deg, rgba(247, 202, 160, 0.94) 0.14%, rgba(124, 96, 73, 0.94) 20.24%, rgba(59, 39, 28, 0.94) 45.24%, rgba(48, 30, 20, 0.94) 92.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .cajita-contenedora p {
    font-size: 20px;
    line-height: 160%;
  }
}
@media screen and (min-width: 1440px) {
  .cajita-contenedora p {
    font-size: 38px;
    text-align: left;
  }
}

.degustar-oler {
  padding: 41px 8px 300px 8px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}
@media screen and (min-width: 768px) {
  .degustar-oler {
    padding: 32px 24px;
  }
}
@media screen and (min-width: 1440px) {
  .degustar-oler {
    padding: 41px 21px 300px 21px;
  }
}
.degustar-oler article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1440px) {
  .degustar-oler article {
    flex-direction: row;
    gap: 41px;
  }
}
.degustar-oler article img {
  width: 60%;
  border-radius: 50%/50%;
}
@media screen and (min-width: 768px) {
  .degustar-oler article img {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .degustar-oler article img {
    width: auto;
  }
}

.cajita-transparente {
  border-radius: 40px;
  background: rgba(217, 217, 217, 0.14);
  margin-top: -16px;
  padding: 16px;
  flex: 1;
}
@media screen and (min-width: 768px) {
  .cajita-transparente {
    padding: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .cajita-transparente {
    padding: 40px;
    width: 800px;
    margin-top: 0;
  }
}
.cajita-transparente p {
  color: #fff;
  text-align: start;
  font-family: "Battambang", sans-serif;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -5%;
}
@media screen and (min-width: 768px) {
  .cajita-transparente p {
    font-size: 18px;
    line-height: 160%;
  }
}
@media screen and (min-width: 1440px) {
  .cajita-transparente p {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 181.342%;
    letter-spacing: 7.5px;
  }
}

@media screen and (min-width: 1440px) {
  .alreves {
    flex-direction: row-reverse !important;
  }
}
