@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
nav {
  padding-right: 12px !important;
  height: 50px;
  display: flex !important;
  padding-left: 12px !important;
  align-items: center;
  position: fixed !important;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #000 12.52%, #1e1107 31.47%, #44220e 49.75%, #99521c 63.8%, #c27933 83.5%, #ae7a4c 99%);
}
@media screen and (min-width: 1440px) {
  nav {
    padding-right: 27px !important;
    height: auto;
    padding-left: 0 !important;
    position: relative !important;
    top: 0;
    left: 0;
    right: 0;
  }
}

.lista-pepitas {
  flex: 1;
  display: none;
  list-style: none;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0 !important;
}
@media screen and (min-width: 1440px) {
  .lista-pepitas {
    display: flex;
  }
}
.lista-pepitas li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.lista-pepitas li a p {
  color: #4b2406;
  font-weight: 500;
}

.pepita-vacia {
  height: 57px;
  width: 51px;
}

.logo-nav {
  width: 34px;
  height: 40px;
}
@media screen and (min-width: 1440px) {
  .logo-nav {
    width: auto;
    height: auto;
    margin: 3px 0 4px 50px;
  }
}

.navbar-collapse {
  width: 100vw;
  padding: 16px;
  background: linear-gradient(90deg, #000 12.52%, #1e1107 31.47%, #44220e 49.75%, #99521c 63.8%, #c27933 83.5%, #ae7a4c 99%);
}

.nav-item {
  border-radius: 12px;
  border: 1px solid #d2d2d2;
  background: linear-gradient(91deg, rgba(255, 255, 255, 0.3) 0%, rgba(153, 153, 153, 0.3) 100%);
  backdrop-filter: blur(0px);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1440px) {
  .navbar-toggler {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #1a0f06 5.5%, #3b1e0c 48%, #211207 88%);
}

.poema-footer {
  color: #e2b595;
  text-align: center;
  font-family: Baskervville;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 236%; /* 63.72px */
  letter-spacing: 6.21px;
}
@media screen and (min-width: 1440px) {
  .poema-footer {
    font-size: 27px;
    width: 870px;
  }
}

.footer-ovalo {
  overflow: hidden;
  border-radius: 50%/50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -190px;
  border: 1px solid #000;
  background: linear-gradient(180deg, rgba(226, 181, 149, 0.78) 0%, #000 12%, #000 87%, rgba(202, 162, 133, 0.78) 100%);
  flex-shrink: 0;
}
@media screen and (min-width: 1440px) {
  .footer-ovalo {
    width: 673px;
    height: 380px;
  }
}

.lista-redes {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 56px;
  padding-bottom: 24px;
  width: 100%;
}

.link-instagram {
  height: 26px;
  width: 36px;
}
@media screen and (min-width: 1440px) {
  .link-instagram {
    height: 62px;
    width: 68px;
  }
}

.link-youtube {
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 1440px) {
  .link-youtube {
    height: 47px;
    width: 81px;
  }
}

.link-correo {
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 1440px) {
  .link-correo {
    height: 70px;
    width: 89px;
  }
}

* {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0 !important;
}

main {
  min-height: 60vh;
  margin-top: 50px;
}
@media screen and (min-width: 1440px) {
  main {
    margin-top: 0;
  }
}

.disfrutar-hero {
  background: url("../../imagenes/disfrutar_hero.png") no-repeat center center;
  background-size: cover;
  height: 641px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.disfrutar-hero h1 {
  background: conic-gradient(from 90deg at 5.52% 50.45%, rgba(0, 0, 0, 0.71) 0deg, #e2b595 360deg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 60px;
  font-family: "Battambang", system-ui;
}
.disfrutar-hero p {
  font-family: "Battambang", system-ui;
  font-weight: 300;
  font-size: 32px;
  line-height: 242%;
  letter-spacing: -3%;
  text-align: center;
}

.contenedor-hero {
  width: 792px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
}

.disfrutar-contenido {
  background: url("../../imagenes/disfrutar_fondo.png") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 300px;
}

.disfrutar-carta {
  background: url("../../imagenes/sobre_carta.png") no-repeat center center;
  max-width: 1268px;
  margin-top: 16px;
}
.disfrutar-carta .disfrutar-contenido-carta {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
}
.disfrutar-carta .disfrutar-contenido-carta p {
  font-family: "Courgette", cursive;
  font-size: 40px;
  line-height: 136%;
  letter-spacing: -7%;
}

.disfrutar-fotos {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}

.disfrutar-fila-foto {
  display: flex;
  gap: 160px;
}

.alternar-fila {
  margin-top: -60px;
  margin-left: 230px;
}

.disfrutar-contenedor-foto {
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  position: relative;
  border-radius: 40px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.disfrutar-contenedor-foto .disfrutar-foto {
  width: 142%;
  height: 142%;
  object-fit: cover;
  transform: rotate(-45deg);
  position: absolute;
}
