@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
nav {
  padding-right: 12px !important;
  height: 50px;
  display: flex !important;
  padding-left: 12px !important;
  align-items: center;
  position: fixed !important;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #000 12.52%, #1e1107 31.47%, #44220e 49.75%, #99521c 63.8%, #c27933 83.5%, #ae7a4c 99%);
}
@media screen and (min-width: 1440px) {
  nav {
    padding-right: 27px !important;
    height: auto;
    padding-left: 0 !important;
    position: relative !important;
    top: 0;
    left: 0;
    right: 0;
  }
}

.lista-pepitas {
  flex: 1;
  display: none;
  list-style: none;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0 !important;
}
@media screen and (min-width: 1440px) {
  .lista-pepitas {
    display: flex;
  }
}
.lista-pepitas li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.lista-pepitas li a p {
  color: #4b2406;
  font-weight: 500;
}

.pepita-vacia {
  height: 57px;
  width: 51px;
}

.logo-nav {
  width: 34px;
  height: 40px;
}
@media screen and (min-width: 1440px) {
  .logo-nav {
    width: auto;
    height: auto;
    margin: 3px 0 4px 50px;
  }
}

.navbar-collapse {
  width: 100vw;
  padding: 16px;
  background: linear-gradient(90deg, #000 12.52%, #1e1107 31.47%, #44220e 49.75%, #99521c 63.8%, #c27933 83.5%, #ae7a4c 99%);
}

.nav-item {
  border-radius: 12px;
  border: 1px solid #d2d2d2;
  background: linear-gradient(91deg, rgba(255, 255, 255, 0.3) 0%, rgba(153, 153, 153, 0.3) 100%);
  backdrop-filter: blur(0px);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1440px) {
  .navbar-toggler {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #1a0f06 5.5%, #3b1e0c 48%, #211207 88%);
}

.poema-footer {
  color: #e2b595;
  text-align: center;
  font-family: Baskervville;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 236%; /* 63.72px */
  letter-spacing: 6.21px;
}
@media screen and (min-width: 1440px) {
  .poema-footer {
    font-size: 27px;
    width: 870px;
  }
}

.footer-ovalo {
  overflow: hidden;
  border-radius: 50%/50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -190px;
  border: 1px solid #000;
  background: linear-gradient(180deg, rgba(226, 181, 149, 0.78) 0%, #000 12%, #000 87%, rgba(202, 162, 133, 0.78) 100%);
  flex-shrink: 0;
}
@media screen and (min-width: 1440px) {
  .footer-ovalo {
    width: 673px;
    height: 380px;
  }
}

.lista-redes {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 56px;
  padding-bottom: 24px;
  width: 100%;
}

.link-instagram {
  height: 26px;
  width: 36px;
}
@media screen and (min-width: 1440px) {
  .link-instagram {
    height: 62px;
    width: 68px;
  }
}

.link-youtube {
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 1440px) {
  .link-youtube {
    height: 47px;
    width: 81px;
  }
}

.link-correo {
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 1440px) {
  .link-correo {
    height: 70px;
    width: 89px;
  }
}

* {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0 !important;
}

main {
  min-height: 60vh;
  margin-top: 50px;
}
@media screen and (min-width: 1440px) {
  main {
    margin-top: 0;
  }
}

.receta, .cajita {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  backdrop-filter: blur(5px);
  padding: 16px 30px;
}

main {
  padding-top: 16px;
  padding-bottom: 200px;
  background: linear-gradient(180deg, #000 41%, #3b1e0c 64%, #9a531d 85.5%, rgba(189, 116, 48, 0.85) 98%);
}
@media screen and (min-width: 1440px) {
  main {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.seccion-titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .seccion-titulos {
    background: url("../../imagenes/receta_hero.png") lightgray 50%/cover no-repeat;
    height: 500px;
    padding: 0 32px;
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .seccion-titulos {
    height: 941px;
  }
}

.caja-contenedora {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1440px) {
  .caja-contenedora {
    justify-content: space-around;
    gap: 0;
  }
}

.cajita {
  width: 100%;
  background: linear-gradient(90deg, #e2b595 0%, #83553b 100%);
}
@media screen and (min-width: 1440px) {
  .cajita {
    background: rgba(68, 34, 14, 0.52);
    width: 384px;
    height: 159px;
    padding: 0;
  }
}
.cajita h2 {
  color: #fff;
  text-align: center;
  font-family: "Battambang", system-ui;
  font-size: 12px;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .cajita h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .cajita h2 {
    font-size: 35px;
    line-height: 179%; /* 62.65px */
    letter-spacing: 11.9px;
    margin: 0 69px;
  }
}

.seccion-recetas {
  margin: 0 auto;
  display: grid;
  column-gap: 8px;
  row-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .seccion-recetas {
    padding: 0 32px;
    column-gap: 24px;
    row-gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .seccion-recetas {
    padding: 216px 0 306px 0;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 82px;
    row-gap: 82px;
  }
}

.receta {
  background: linear-gradient(180deg, rgba(61, 28, 8, 0.79) 0%, #ca7d43 43%, rgba(116, 51, 11, 0.58) 100%);
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 24px 0;
  margin: 0 auto;
  box-shadow: 18px 4px 21px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1440px) {
  .receta {
    width: 290px;
    height: 367px;
  }
}
.receta img {
  width: 50%;
}
.receta p {
  color: #fff;
  text-align: center;
  font-family: "Battambang", system-ui;
  font-size: 12px;
  font-weight: 900;
  line-height: 120%; /* 41.31px */
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .receta p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .receta p {
    font-size: 27px;
    line-height: 153%; /* 41.31px */
    letter-spacing: 9.18px;
  }
}
