main {
  background: linear-gradient(
    180deg,
    #000 44%,
    #3b1e0c 63.5%,
    #9a531d 84%,
    #bd7430 99%
  );
}
.seccion-hero {
  background: url("../imagenes/degustar_hero.png") no-repeat center center;
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 32px;
}
.cajita-contenedora p {
  font-family: Battambang;
  font-size: 12px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 180.23%; /* 68.488px */
  letter-spacing: 4.94px;
  background: linear-gradient(
    90deg,
    rgba(247, 202, 160, 0.94) 0.14%,
    rgba(124, 96, 73, 0.94) 20.24%,
    rgba(59, 39, 28, 0.94) 45.24%,
    rgba(48, 30, 20, 0.94) 92.31%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cajita-contenedora {
  border-radius: 40px;
  background: rgba(217, 217, 217, 0.14);
}
.degustar-oler article img {
  width: 60%;
  border-radius: 50% / 50%;
}
.degustar-oler {
  padding: 41px 8px 300px 8px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.degustar-oler article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cajita-transparente {
  border-radius: 40px;
  background: rgba(217, 217, 217, 0.14);
  margin-top: -16px;
  padding: 16px;
  flex: 1;
}
.cajita-transparente p {
  color: #fff;
  text-align: start;
  font-family: Battambang;
  font-size: 12px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -5%;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .seccion-hero {
    height: 800px;
  }

  .cajita-contenedora p {
    font-size: 38px;
    text-align: left;
  }

  .cajita-contenedora {
    margin-right: 91px;
    max-width: 1181px;
    padding: 80px 32px;
  }

  .degustar-oler article img {
    width: auto;
  }

  .degustar-oler {
    padding: 41px 21px 300px 21px;
  }

  .degustar-oler article {
    flex-direction: row;
    gap: 41px;
  }

  .cajita-transparente {
    padding: 40px;
    width: 800px;
    margin-top: 0;
  }

  .cajita-transparente p {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 181.342%; /* 54.402px */
    letter-spacing: 7.5px;
  }

  .alreves {
    flex-direction: row-reverse !important;
  }
}
