@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  margin: 0;
  padding: 0;
}
nav {
  padding-right: 27px;
  display: flex;
  background: linear-gradient(
    90deg,
    #000 12.52%,
    #1e1107 31.47%,
    #44220e 49.75%,
    #99521c 63.8%,
    #c27933 83.5%,
    #ae7a4c 99%
  );
}
.lista-pepitas {
  flex: 1;
  display: flex;
  list-style: none;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
}
.pepita-vacia {
  height: 57px;
  width: 51px;
}
.logo-nav {
  margin: 3px 0 4px 50px;
}
.lista-pepitas li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.lista-pepitas li a p {
  color: #4b2406;
  font-weight: 500;
}
.lista-redes {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 56px;
  padding-bottom: 24px;
  width: 100%;
}
.link-instagram {
  height: 62px;
  width: 68px;
}
.link-youtube {
  height: 47px;
  width: 81px;
}
.link-correo {
  height: 70px;
  width: 89px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #1a0f06 5.5%, #3b1e0c 48%, #211207 88%);
}
main {
  min-height: 60vh;
}
.poema-footer {
  color: #e2b595;
  text-align: center;
  font-family: Baskervville;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 236%; /* 63.72px */
  letter-spacing: 6.21px;
  width: 870px;
}
.footer-ovalo {
  border-radius: 50% / 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -190px;
  border: 1px solid #000;
  background: linear-gradient(
    180deg,
    rgba(226, 181, 149, 0.78) 0%,
    #000 12%,
    #000 87%,
    rgba(202, 162, 133, 0.78) 100%
  );
  width: 673px;
  height: 380px;
  flex-shrink: 0;
}
