@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0 !important;
}
nav {
  padding-right: 12px !important;
  height: 50px;
  display: flex !important;
  padding-left: 12px !important;
  align-items: center;
  position: fixed !important;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    #000 12.52%,
    #1e1107 31.47%,
    #44220e 49.75%,
    #99521c 63.8%,
    #c27933 83.5%,
    #ae7a4c 99%
  );
}
.lista-pepitas {
  flex: 1;
  display: none;
  list-style: none;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0 !important;
}
.pepita-vacia {
  height: 57px;
  width: 51px;
}
.logo-nav {
  width: 34px;
  height: 40px;
}
.lista-pepitas li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.lista-pepitas li a p {
  color: #4b2406;
  font-weight: 500;
}
.lista-redes {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 56px;
  padding-bottom: 24px;
  width: 100%;
}
.link-instagram {
  height: 26px;
  width: 36px;
}
.link-youtube {
  height: 40px;
  width: 40px;
}
.link-correo {
  height: 40px;
  width: 40px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #1a0f06 5.5%, #3b1e0c 48%, #211207 88%);
}
main {
  min-height: 60vh;
  margin-top: 50px;
}
.poema-footer {
  color: #e2b595;
  text-align: center;
  font-family: Baskervville;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 236%; /* 63.72px */
  letter-spacing: 6.21px;
}
.footer-ovalo {
  overflow: hidden;
  border-radius: 50% / 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -190px;
  border: 1px solid #000;
  background: linear-gradient(
    180deg,
    rgba(226, 181, 149, 0.78) 0%,
    #000 12%,
    #000 87%,
    rgba(202, 162, 133, 0.78) 100%
  );

  flex-shrink: 0;
}

.navbar-collapse {
  width: 100vw;
  padding: 16px;
  background: linear-gradient(
    90deg,
    #000 12.52%,
    #1e1107 31.47%,
    #44220e 49.75%,
    #99521c 63.8%,
    #c27933 83.5%,
    #ae7a4c 99%
  );
}

.nav-item {
  border-radius: 12px;
  border: 1px solid #d2d2d2;
  background: linear-gradient(
    91deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(153, 153, 153, 0.3) 100%
  );
  backdrop-filter: blur(0px);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  nav {
    padding-right: 27px !important;
    height: auto;
    padding-left: 0 !important;
    position: relative !important;
    top: 0;
    left: 0;
    right: 0;
  }

  .lista-pepitas {
    display: flex;
  }

  .logo-nav {
    width: auto;
    height: auto;
    margin: 3px 0 4px 50px;
  }

  .link-instagram {
    height: 62px;
    width: 68px;
  }
  .link-youtube {
    height: 47px;
    width: 81px;
  }
  .link-correo {
    height: 70px;
    width: 89px;
  }

  main {
    margin-top: 0;
  }

  .poema-footer {
    font-size: 27px;
    width: 870px;
  }

  .footer-ovalo {
    width: 673px;
    height: 380px;
  }

  .navbar-toggler {
    display: none;
  }
}
